.dub
docs.json
__dummy.html
docs/
/esstool
esstool.so
esstool.dylib
esstool.dll
esstool.a
esstool.lib
esstool-test-*
*.exe
*.pdb
*.lib
*.o
*.obj
*.lst
.vscode
.idea
.test

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
